{% extends 'admin/base.html.twig' %}

{% block title %}Create category{% endblock %}

{% block body %}
    <h1 class="text-center">Create category</h1>
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a class="btn btn-default" href="{{ path('admin_category') }}">List</a>
        </li>
    </ul>

    {{ include('admin/category/_form.html.twig') }}
{% endblock %}
