{% extends 'base.html.twig' %}

{% block title %}New Language{% endblock %}

{% block body %}
    <h1>Create new Language</h1>

    {{ include('admin/language/_form.html.twig') }}

    <a href="{{ path('admin_language') }}">back to list</a>
{% endblock %}
