{% extends 'admin/base.html.twig' %}

{% block title %}Update language{% endblock %}

{% block body %}
    <h1 class="text-center">Update language</h1>
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a class="btn btn-default" href="{{ path('admin_language') }}">List</a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-default" href="{{ path('admin_language_view', {'id': language.id}) }}">View</a>
        </li>
    </ul>

    {{ include('admin/language/_form.html.twig') }}
{% endblock %}
